/*style.css*/
body {
    overflow:hidden;
    width: 90% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	background-color: white;
	margin-top: -5px;
}
.search-text{
	width : 50% !important;
	margin : 5px !important;
}
.help-block{
	margin:10px !important;
}
#search-btn{
	width : 8% !important;	
}
.tab-content{
	border: 1px solid #ddd;
	width: 100%;
	height: 360px !important;
	border-top: 0px;
	margin-top: -20px;
}
.tab-content div:nth-child(2){
	margin-top: -12px;
	fill: black;
}
.search-div{
	text-align: center;
	margin : 5px !important;
}
.search-div h1{
	color : #4CAE4C;
}
.results-div{
	display:none;
	text-align: center;
	border: 3px solid #C13A33;
	width: 98% !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
}
.results-div table th {
	text-align: center !important;
	color: #C13A33;
	font-style: bold;
	font-size: 17px; 
}
.results-div .title, .results-div .author {
	text-align: left;
}
.results-div .action{
	text-align: center !important;
}

#vis{
	height: 360px !important;
	max-height: 360px !important;
	width: 1210px !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
}
/*.tab-pane{
	height: 360px !important;
	max-height: 360px !important;
}*/
.results-div table td{
	border: 1px solid #C13A33 !important;
}
.fileinput-button input {
	position: absolute;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 4px;
	direction: ltr;
	cursor: pointer;
}
#fileupload{
	margin: 0px !important;
	padding-top: 35px;	
}
.upload-bar{
	text-align: center;
	border: 3px solid #C13A33;
	width: 98% !important;
	margin-left: auto !important;
	margin-right: auto;
}
.upload-bar div{
	padding-top: 10px !important;
}
.upload-table-div table{
	overflow-y: auto;
	height: 220px !important;
}
.upload-table-div table th{
	text-align: center;
	border: 1px solid #dddddd !important;
}
.upload-table-div table td{
	text-align: center!important;
	border: 1px solid #dddddd !important;
}
.upload-table-div .item-name{
	text-align: left !important;
}
.modal-header h2{
	text-align: center;
	color: #51A351;
}
.modal-body label{
	color: #C13A33;
	font-weight: bold;
	font-size: 17px;
}
.modal-body label span{
	color: black;
	font-weight: normal;
	font-size: 14px;
}
.modal{
	width: auto !important;
}
.modal-body table th{
	color: #51a351;
	font-size: 17px;
}
.upload-status table th{
	color: #C13A33 !important;
}
.modal-body table{
	border: 2px solid #389FBD;
}